<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputFile" value="test.csv" />
    <add key="TargetOrganization" value="Import" />
    <add key="ES.WebService" value="http://192.168.0.143:9002" />
    <add key="ES.Username" value="serveradmin" />
    <add key="ES.Password" value="serveradmin" />
    <add key="ConnectionString" value="server=backend02;database=WebsitePanel;uid=WebsitePanel;pwd=password;" />
    <add key="LogFile" value="WebsitePanel.Import.CsvBulk.log" />
  </appSettings>
</configuration>