<?xml version="1.0" encoding="utf-8"?>
<Pages>

	<include file="ModulesData.config" />
	
	<Page name="QuickSignup" roles="?" hidden="true" skin="Storefront.ascx"  adminskin="Storefront.ascx">
		<Content id="ContentPane">
			<Module moduleDefinitionID="ecQuickSignup" title="ecQuickSignup" container="Clear.ascx" />
		</Content>
	</Page>
	
	<Page name="ecOrderCheckout" roles="*" hidden="true" skin="Storefront.ascx"  adminskin="Storefront.ascx">
		<Content id="ContentPane">
			<Module moduleDefinitionID="ecOrderCheckout" title="ecOrderCheckout" />
		</Content>
	</Page>

	<Page name="ecOrderComplete" roles="*" hidden="true" skin="Storefront.ascx" adminskin="Storefront.ascx">
		<Content id="ContentPane">
			<Module moduleDefinitionID="ecOrderComplete" title="ecOrderComplete" />
		</Content>
	</Page>

	<Page name="ecOrderFailed" roles="*" hidden="true" skin="Storefront.ascx" adminskin="Storefront.ascx">
		<Content id="ContentPane">
			<Module moduleDefinitionID="ecOrderFailed" title="ecOrderFailed" />
		</Content>
	</Page>
	
	<Page name="ecTermsAndConditions" roles="?" hidden="true" skin="SimpleWhite.ascx">
		<Content id="ContentPane">
			<Module moduleDefinitionID="ecTermsAndConditions" title="ecTermsAndConditions" container="Clear.ascx" />
		</Content>
	</Page>

	<Page name="ecProductDetails" roles="?" hidden="true" skin="SimpleWhite.ascx">
		<Content id="ContentPane">
			<Module moduleDefinitionID="ecProductDetails" title="ecProductDetails" container="Clear.ascx" />
		</Content>
	</Page>

	<Page name="ecOnlineStore" roles="?" hidden="true" skin="Storefront2.ascx" adminskin="Storefront2.ascx">
		<Content id="LeftPane">
			<Module moduleDefinitionID="ecStorefrontMenu" title="ecStorefrontCatalogMenu" container="Clear.ascx" />
		</Content>
		<Content id="ContentPane">
			<Module moduleDefinitionID="ecStorefrontWelcome" title="ecStorefrontWelcome" container="Clear.ascx" />
		</Content>
		<Pages>
			<Page name="ecViewCategory" roles="?" hidden="true" skin="Storefront2.ascx" adminskin="Storefront2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="ecStorefrontMenu" title="ecStorefrontCatalogMenu" container="Clear.ascx" />
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecViewCategory" title="ecViewCategory" container="Clear.ascx" />
				</Content>
			</Page>
			<Page name="ecOrderProduct" roles="?" hidden="true" skin="Storefront2.ascx" adminskin="Storefront2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="ecStorefrontMenu" title="ecStorefrontCatalogMenu" container="Clear.ascx" />
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecOrderProduct" title="ecOrderProduct" container="Clear.ascx" />
				</Content>
			</Page>
		</Pages>
	</Page>
	
	<Page name="ecEcommerceAdmin" hidden="true" roles="Administrator,Reseller" enabled="false">
		<Pages>
			<Page name="ecEcommerceSettings" roles="Administrator,Reseller" adminskin="Browse1.ascx" skin="Browse2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="UserAccountMenu" title="UserMenu" container="Clear.ascx">
						<ModuleData ref="UserMenu"/>
					</Module>
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecEcommerceSettings" title="ecEcommerceSettings" />
				</Content>
			</Page>
			<Page name="ecBillingCycles" roles="Administrator,Reseller" adminskin="Browse2.ascx" skin="Browse2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="UserAccountMenu" title="UserMenu" container="Clear.ascx">
						<ModuleData ref="UserMenu"/>
					</Module>
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecBillingCycles" title="ecBillingCycles" />
				</Content>
			</Page>
			<Page name="ecHostingPlans" roles="Administrator,Reseller" adminskin="Browse2.ascx" skin="Browse2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="UserAccountMenu" title="UserMenu" container="Clear.ascx">
						<ModuleData ref="UserMenu"/>
					</Module>
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecHostingPlans" title="ecHostingPlans" />
				</Content>
			</Page>
			<Page name="ecHostingAddons" roles="Administrator,Reseller" adminskin="Browse2.ascx" skin="Browse2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="UserAccountMenu" title="UserMenu" container="Clear.ascx">
						<ModuleData ref="UserMenu"/>
					</Module>
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecHostingAddons" title="ecHostingAddons" />
				</Content>
			</Page>
			<Page name="ecDomainNames" roles="Administrator,Reseller" adminskin="Browse2.ascx" skin="Browse2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="UserAccountMenu" title="UserMenu" container="Clear.ascx">
						<ModuleData ref="UserMenu"/>
					</Module>
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecDomainNames" title="ecDomainNames" />
				</Content>
			</Page>
			<Page name="ecCategories" roles="Administrator,Reseller" adminskin="Browse2.ascx" skin="Browse2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="UserAccountMenu" title="UserMenu" container="Clear.ascx">
						<ModuleData ref="UserMenu"/>
					</Module>
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecCategories" title="ecCategories" />
				</Content>
			</Page>
			<Page name="ecTaxations" roles="Administrator,Reseller" adminskin="Browse2.ascx" skin="Browse2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="UserAccountMenu" title="UserMenu" container="Clear.ascx">
						<ModuleData ref="UserMenu"/>
					</Module>
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecTaxations" title="ecTaxations" />
				</Content>
			</Page>
			<Page name="ecCustomersPayments" roles="Administrator,Reseller" adminskin="Browse1.ascx" skin="Browse1.ascx">
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecCustomersPayments" title="ecCustomersPayments">
						<Settings>
							<Add name="IsReseller" value="True" />
						</Settings>
					</Module>
				</Content>
			</Page>
			<Page name="ecCustomersInvoices" roles="Administrator,Reseller" adminskin="Browse1.ascx" skin="Browse1.ascx">
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecCustomersInvoices" title="ecCustomersInvoices">
						<Settings>
							<Add name="IsReseller" value="True" />
						</Settings>
					</Module>
				</Content>
			</Page>
			<Page name="ecCustomersServices" roles="Administrator,Reseller" adminskin="Browse1.ascx" skin="Browse1.ascx">
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecCustomersServices" title="ecCustomersServices">
						<Settings>
							<Add name="IsReseller" value="True" />
						</Settings>
					</Module>
				</Content>
			</Page>
		</Pages>
	</Page>
	<Page name="ecMyEcommerce" hidden="true" enabled="false" roles="Reseller,User">
		<Pages>
			<Page name="ecPaymentProfile" roles="Reseller,User" skin="Browse2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="UserAccountMenu" title="UserMenu" container="Clear.ascx">
						<ModuleData ref="UserMenu"/>
					</Module>
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecCustomerPaymentProfile" title="ecCustomerPaymentProfile" />
				</Content>
			</Page>
			<Page name="ecMyPayments" roles="Reseller,User" adminskin="Browse1.ascx" skin="Browse2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="UserAccountMenu" title="UserMenu" container="Clear.ascx">
						<ModuleData ref="UserMenu"/>
					</Module>
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecCustomersPayments" title="ecMyPayments">
						<Settings>
							<Add name="IsReseller" value="False" />
						</Settings>
					</Module>
				</Content>
			</Page>
			<Page name="ecMyInvoices" roles="Reseller,User" adminskin="Browse1.ascx" skin="Browse2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="UserAccountMenu" title="UserMenu" container="Clear.ascx">
						<ModuleData ref="UserMenu"/>
					</Module>
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecCustomersInvoices" title="ecMyInvoices">
						<Settings>
							<Add name="IsReseller" value="False" />
						</Settings>
					</Module>
				</Content>
			</Page>
			<Page name="ecMyServices" roles="Reseller,User" adminskin="Browse1.ascx" skin="Browse2.ascx">
				<Content id="LeftPane">
					<Module moduleDefinitionID="UserAccountMenu" title="UserMenu" container="Clear.ascx">
						<ModuleData ref="UserMenu"/>
					</Module>
				</Content>
				<Content id="ContentPane">
					<Module moduleDefinitionID="ecCustomersServices" title="ecMyServices">
						<Settings>
							<Add name="IsReseller" value="False" />
						</Settings>
					</Module>
				</Content>
			</Page>
		</Pages>
	</Page>
</Pages>