/* BROWSE MIDDLE */
.BrowseContainer
{
	margin-bottom: 15px;
}

.BrowseContainer .Header
{
	width: 100%;
}

.BrowseContainer .HeaderLeft
{
	width: 6px;
	height: 27px;
	background: transparent url(../images/module_header_left.gif) left top no-repeat;
}

.BrowseContainer .HeaderRight
{
	width: 6px;
	height: 27px;
	background: transparent url(../images/module_header_right.gif) right top no-repeat;
}

.BrowseContainer .HeaderIcon
{
	float: left;
	margin-right: 5px;
}

.BrowseContainer .HeaderTitle
{
	background: #FCFCFC url(../images/module_header_bkg.gif) left top repeat-x;
	padding: 6px 4px 4px 4px;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	width: auto;
}

.BrowseContainer .Content
{
	clear: both;
	border: solid 1px #7F7F7F;
	border-top: none;
	background-color: #FCFCFC;
}


/* EDIT */
.EditContainer
{
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.EditContainer .Header
{
	width: 100%;
}

.EditContainer .HeaderLeft
{
	width: 6px;
	height: 27px;
	background: transparent url(../images/module_header_left.gif) left top no-repeat;
}

.EditContainer .HeaderRight
{
	width: 6px;
	height: 27px;
	background: transparent url(../images/module_header_right.gif) right top no-repeat;
}

.EditContainer .HeaderIcon
{
	float: left;
	margin-right: 5px;
}

.EditContainer .HeaderTitle
{
	background: #FCFCFC url(../images/module_header_bkg.gif) left top repeat-x;
	padding: 6px 4px 4px 4px;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	width: auto;
}

.EditContainer .Content
{
	clear: both;
	border: solid 1px #7F7F7F;
	border-top: none;
	background-color: #FCFCFC;
}

/* RIGHT */
.RightContainer
{
}

.RightContainer .Title
{
	background: #4F7BBE url(../images/side_module_left_curve.gif) left top no-repeat;
	padding: 3px;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	color: #ffffff;
	margin-right: 5px;
}

.RightContainer .Top
{
	background: #4F7BBE url(../images/side_module_right_curve.gif) right top no-repeat;
}

.RightContainerContent
{
	border: solid 1px #BABABA;
	border-top: none;
	background-color: #FCFCFC;
	padding: 5px;
	margin-bottom: 10px;
}

/* LOGIN */
.LoginContainer
{
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 90px;
}

.LoginContainer .Header
{
	width: 100%;
}

.LoginContainer .HeaderLeft
{
	width: 6px;
	height: 27px;
	background: transparent url(../images/module_header_left.gif) left top no-repeat;
}

.LoginContainer .HeaderRight
{
	width: 6px;
	height: 27px;
	background: transparent url(../images/module_header_right.gif) right top no-repeat;
}

.LoginContainer .HeaderIcon
{
	float: left;
	margin-right: 5px;
}

.LoginContainer .HeaderTitle
{
	background: #FCFCFC url(../images/module_header_bkg.gif) left top repeat-x;
	padding: 6px 4px 4px 4px;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	width: auto;
}

.LoginContainer .Content
{
	padding-top: 10px;
	clear: both;
	border: solid 1px #7F7F7F;
	border-top: none;
	background-color: #FCFCFC;
	text-align: center;
}



/* POPUP */
.PopupContainer
{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 150px;
}

.PopupContainer .Header
{
	width: 100%;
}

.PopupContainer .HeaderLeft
{
	width: 6px;
	height: 27px;
	background: transparent url(../images/module_header_left.gif) left top no-repeat;
}

.PopupContainer .HeaderRight
{
	width: 6px;
	height: 27px;
	background: transparent url(../images/module_header_right.gif) right top no-repeat;
}

.PopupContainer .HeaderIcon
{
	float: left;
	margin-right: 5px;
}

.PopupContainer .HeaderTitle
{
	background: #FCFCFC url(../images/module_header_bkg.gif) left top repeat-x;
	padding: 6px 4px 4px 4px;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	width: auto;
}

.PopupContainer .Content
{
	clear: both;
	border: solid 1px #7F7F7F;
	border-top: none;
	background-color: #FCFCFC;
}

.PopupContainer .Body
{
	padding-left: 20px;
	font-size: 8pt;
}



/* Exchange Module Styles */
.ExchangeHeader
{
	float: left;
	background: transparent url(../images/Exchange/main_bg.gif) left top repeat-y;
}
.ExchangeBody
{
	float: left;
	background: transparent url(../images/Exchange/module_header.gif) left top no-repeat;
	clear: both;
}
.ExchangeBottom
{
	float: left;
	background: transparent url(../images/Exchange/module_footer.gif) left bottom no-repeat;
}
.ExchangeFooter
{
	float: left;
	background: transparent url(../images/Exchange/bottom_bg.gif) left top repeat-y;
	padding-bottom: 10px;
}
#ExchangeContainer
{
	background-color: transparent;
}

#ExchangeContainer .Module
{
	background-color: Transparent;
}

#ExchangeContainer .Header
{
	margin: 0px;
	background: Transparent;
	padding: 20px 0px 10px 20px;
	width: auto;
	clear: both;
}

#ExchangeContainer .Header .Breadcrumb
{
	font-family: Tahoma;
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}

#ExchangeContainer .Left
{
	padding-left: 15px;
	float: left;
	background: transparent;
	padding-top: 14px;
	width: 185px;
}

#ExchangeContainer .Content
{
	float: right;
	width: 790px;
}

#ExchangeContainer .Center
{
	float: left;
	background: transparent;
	width: 600px;
}

#ExchangeContainer .Right
{
	float: right;
	margin: 20px 12px 10px 0px;
	width: 168px;
	background-color: transparent;
	font-size: 11px;
	text-align: justify;
}

#ExchangeContainer .Title
{
	font-family: Arial;
	font-size: 14pt;
	margin-bottom: 5px;
}

#ExchangeContainer .MenuGroup 
{
	
	font-family: Tahoma;
	font-size: 8pt;
	color: #000000;
	text-decoration:none;
	font-weight:bold;
}


#ExchangeContainer .Menu
{
	background: transparent url(../images/Exchange/menu_item_bg.gif) top left no-repeat;
	padding-top: 2px;
	padding-bottom: 30px;
}

#ExchangeContainer .Menu A
{
	padding-left: 20px;
	font-family: Tahoma;
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
	background: transparent url(../images/Exchange/bullet.gif) center left no-repeat;
	font-weight:normal;
}

#ExchangeContainer .Menu .SelectedMenuItem A,
#ExchangeContainer .Menu A:Hover
{
	background: transparent url(../images/Exchange/bullet_hover.gif) center left no-repeat;
}


#ExchangeContainer .Menu .MenuItem
{
	padding: 5px 0px 5px 10px;
	
}

#ExchangeContainer .Menu .SelectedMenuItem
{
	font-weight: bold;
	padding: 5px 0px 5px 10px;
	
}

/* VPS */
.VpsHeader
{
	float: left;
	background: transparent url(../images/Exchange/main_bg.gif) left top repeat-y;
}
.VpsBody
{
	float: left;
	background: transparent url(../images/VPS/module_header.gif) left top no-repeat;
	clear: both;
}
.VpsBottom
{
	float: left;
	background: transparent url(../images/Exchange/module_footer.gif) left bottom no-repeat;
}
.VpsFooter
{
	float: left;
	background: transparent url(../images/Exchange/bottom_bg.gif) left top repeat-y;
	padding-bottom: 10px;
}
#VpsContainer
{
	background-color: transparent;
}

#VpsContainer .Module
{
	background-color: Transparent;
}

#VpsContainer .Header
{
	margin: 0px;
	background: Transparent;
	padding: 20px 0px 10px 20px;
	width: auto;
	clear: both;
}

#VpsContainer .Header .Breadcrumb
{
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}

#VpsContainer .Left
{
	padding-left: 15px;
	float: left;
	background: transparent;
	padding-top: 14px;
	width: 185px;
}

#VpsContainer .Content
{
	float: right;
	width: 790px;
}

#VpsContainer .Center
{
	float: left;
	background: transparent;
	width: 600px;
}

#VpsContainer .Right
{
	float: right;
	margin: 20px 12px 10px 0px;
	width: 168px;
	background-color: transparent;
	font-size: 11px;
	text-align: justify;
}

#VpsContainer .Title
{
	font-family: Arial;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #444444;
}

#VpsContainer .SubTitle
{
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	margin-bottom: 5px;
}

#VpsContainer .MenuGroup 
{
	
	font-family: Tahoma;
	font-size: 8pt;
	color: #000000;
	text-decoration:none;
	font-weight:bold;
}


#VpsContainer .Menu
{
	background: transparent url(../images/Exchange/menu_item_bg.gif) top left no-repeat;
	padding-top: 2px;
	padding-bottom: 30px;
}

#VpsContainer .Menu A
{
	padding-left: 20px;
	font-family: Tahoma;
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
	background: transparent url(../images/Exchange/bullet.gif) center left no-repeat;
	font-weight:normal;
}

#VpsContainer .Menu .SelectedMenuItem A,
#VpsContainer .Menu A:Hover
{
	background: transparent url(../images/Exchange/bullet_hover.gif) center left no-repeat;
}


#VpsContainer .Menu .MenuItem
{
	padding: 5px 0px 5px 10px;
}

#VpsContainer .Menu .SelectedMenuItem
{
	font-weight: bold;
	padding: 5px 0px 5px 10px;
	
}

/* VPSForPC */
.VpsForPCBody
{
	float: left;
	background: transparent url(../images/VPSForPC/private_cloud_module_header_vps.gif) left top no-repeat;
	clear: both;
}

/* POPUP */
.Popup
{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 150px;
}

.Popup-Header
{
	width: 100%;
}

.Popup-HeaderLeft
{
	width: 6px;
	height: 27px;
	background: transparent url(../images/module_header_left.gif) left top no-repeat;
}

.Popup-HeaderRight
{
	width: 6px;
	height: 27px;
	background: transparent url(../images/module_header_right.gif) right top no-repeat;
}

.Popup-HeaderIcon
{
	float: left;
	margin-right: 5px;
}

.Popup-HeaderTitle
{
	background: #FCFCFC url(../images/module_header_bkg.gif) left top repeat-x;
	padding: 6px 4px 4px 4px;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	width: auto;
}

.Popup-Content
{
	clear: both;
	border: solid 1px #7F7F7F;
	border-top: none;
	background-color: #FCFCFC;
}

.Popup-Body
{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 8pt;
}

.Popup-Scroll
{
	width: auto;
	height: 200px;
	overflow: auto;
	white-space: nowrap;	
}