<?xml version="1.0" encoding="utf-8"?>
<ModulesData>

	<ModuleData id="UserMenu">
		<MenuItem pageID="UserCustomers" roles="Administrator,Reseller"/>
		<MenuItem pageID="UserSpaces" roles="Administrator,Reseller,User"/>
		<MenuItem pageID="HostingPlans" roles="Administrator,Reseller"/>
		<MenuItem pageID="HostingAddons" roles="Administrator,Reseller"/>
		<MenuItem pageID="UserPeers" roles="Administrator,Reseller,User"/>
		<MenuItem pageID="UserTasks" roles="Administrator,Reseller,User"/>
		<MenuItem pageID="AuditLog" roles="Administrator,Reseller,User"/>
		<MenuItem pageID="ecOnlineStore" roles="Reseller,User" ecuser="true" />
		<MenuItem pageID="ecEcommerceAdmin" roles="Administrator,Reseller" ecadmin="true">
			<MenuItems>
				<MenuItem pageID="ecEcommerceSettings" ecommerce="true" />
				<MenuItem pageID="ecBillingCycles" />
				<MenuItem pageID="ecHostingPlans" />
				<MenuItem pageID="ecHostingAddons" />
				<MenuItem pageID="ecDomainNames" />
				<MenuItem pageID="ecTaxations" />
				<MenuItem pageID="ecCategories" />
				<MenuItem pageID="ecCustomersPayments" />
				<MenuItem pageID="ecCustomersInvoices" />
				<MenuItem pageID="ecCustomersServices" />
			</MenuItems>
		</MenuItem>
		<MenuItem pageID="ecMyEcommerce" ecuser="true" roles="Reseller,User">
			<MenuItems>
				<MenuItem pageID="ecPaymentProfile" />
				<MenuItem pageID="ecMyPayments" />
				<MenuItem pageID="ecMyInvoices" />
				<MenuItem pageID="ecMyServices" />
			</MenuItems>
		</MenuItem>
		<!--MenuItem url="http://google.com" title="Google" target="_blank"/-->
	</ModuleData>

	<ModuleData id="SpaceMenu">
		
		<MenuItem pageID="SpaceDomains" resourceGroup="OS" />
		<MenuItem pageID="SpaceWebSites" resourceGroup="Web"/>
		<MenuItem pageID="SpaceWebIPAddresses" resourceGroup="Web" />
		<MenuItem pageID="SpaceFtpAccounts" resourceGroup="FTP"/>
		<MenuItem pageID="SpaceMail" resourceGroup="Mail" disabled="True">
			<MenuItems>
				<MenuItem pageID="SpaceMailAccounts" quota="Mail.Accounts"/>
				<MenuItem pageID="SpaceMailForwardings" quota="Mail.Forwardings"/>
				<MenuItem pageID="SpaceMailGroups" quota="Mail.Groups"/>
				<MenuItem pageID="SpaceMailLists" quota="Mail.Lists"/>
				<MenuItem pageID="SpaceMailDomains"  resourceGroup="Mail"/>
			</MenuItems>
		</MenuItem>
		<MenuItem pageID="SpaceDatabases" disabled="True">
			<MenuItems>
				<MenuItem pageID="SpaceMsSql2000" resourceGroup="MsSQL2000"/>
				<MenuItem pageID="SpaceMsSql2005" resourceGroup="MsSQL2005"/>
				<MenuItem pageID="SpaceMsSql2008" resourceGroup="MsSQL2008"/>
				<MenuItem pageID="SpaceMySql4" resourceGroup="MySQL4"/>
				<MenuItem pageID="SpaceMySql5" resourceGroup="MySQL5"/>
			</MenuItems>
		</MenuItem>
		<MenuItem pageID="SpaceSharePoint" resourceGroup="SharePoint" disabled="True">
			<MenuItems>
				<MenuItem pageID="SpaceSharePointSites"/>
				<MenuItem pageID="SpaceSharePointUsers"/>
			</MenuItems>
		</MenuItem>
		<MenuItem pageID="SpaceVPS" resourceGroup="VPS"/>
		<MenuItem pageID="SpaceVPSForPC" resourceGroup="VPSForPC"/>
		<MenuItem pageID="SpaceExchangeHostedEdition" resourceGroup="ExchangeHostedEdition"/>
		<MenuItem pageID="SpaceExchangeServer" resourceGroup="Hosted Organizations"/>
		<MenuItem pageID="SpaceSharedSSL" resourceGroup="OS" quota="Web.SharedSSL"/>
		<MenuItem pageID="SpaceAdvancedStatistics" resourceGroup="Statistics"/>
		<MenuItem pageID="SpaceOdbc" resourceGroup="OS" quota="OS.ODBC"/>
		<MenuItem pageID="SpaceFileManager" resourceGroup="OS" quota="OS.FileManager"/>
		<MenuItem pageID="SpaceWebApplicationsGallery" resourceGroup="Web" quota="Web.WebAppGallery"/>
		<MenuItem pageID="SpaceApplicationsInstaller" resourceGroup="OS" quota="OS.AppInstaller"/>
		<MenuItem pageID="SpaceScheduledTasks" resourceGroup="OS" quota="OS.ScheduledTasks"/>
		<!--MenuItem url="http://phpmysqladmin.com" title="phpMyAdmin" target="_blank"
                resourceGroup="MySQL4"/-->
	</ModuleData>

	<ModuleData id="SpaceIcons">
		<Icon pageID="SpaceDomains" resourceGroup="OS" imageUrl="icons/world_48.png" />
		<Icon pageID="SpaceWeb" disabled="True" imageUrl="icons/location_48.png">
			<MenuItems>
				<MenuItem pageID="SpaceWebSites" resourceGroup="Web" />
				<MenuItem pageID="SpaceWebIPAddresses" resourceGroup="Web" />
				<MenuItem pageID="SpaceSharedSSL" resourceGroup="OS" quota="Web.SharedSSL" />
				<MenuItem pageID="SpaceAdvancedStatistics" resourceGroup="Statistics" />
			</MenuItems>
		</Icon>
		<Icon pageID="SpaceFtpAccounts" resourceGroup="FTP" imageUrl="icons/folder_up_48.png"/>
		<Icon pageID="SpaceFileManager" resourceGroup="OS" quota="OS.FileManager" imageUrl="icons/cabinet_48.png"/>
		<Icon pageID="SpaceDatabases" disabled="True" imageUrl="icons/database2_48.png">
			<MenuItems>
				<MenuItem pageID="SpaceMsSql2000" resourceGroup="MsSQL2000"/>
				<MenuItem pageID="SpaceMsSql2005" resourceGroup="MsSQL2005"/>
				<MenuItem pageID="SpaceMsSql2008" resourceGroup="MsSQL2008"/>
				<MenuItem pageID="SpaceMySql4" resourceGroup="MySQL4"/>
				<MenuItem pageID="SpaceMySql5" resourceGroup="MySQL5"/>
				<MenuItem pageID="SpaceOdbc" resourceGroup="OS" quota="OS.ODBC"/>
			</MenuItems>
		</Icon>
		<Icon pageID="SpaceMail" resourceGroup="Mail" disabled="True" imageUrl="icons/mail_48.png">
			<MenuItems>
				<MenuItem pageID="SpaceMailAccounts" quota="Mail.Accounts"/>
				<MenuItem pageID="SpaceMailForwardings" quota="Mail.Forwardings"/>
				<MenuItem pageID="SpaceMailGroups" quota="Mail.Groups"/>
				<MenuItem pageID="SpaceMailLists" quota="Mail.Lists"/>
				<MenuItem pageID="SpaceMailDomains"  resourceGroup="Mail"/>
			</MenuItems>
		</Icon>
		<Icon pageID="SpaceSharePoint" resourceGroup="SharePoint" disabled="True" imageUrl="icons/colors_48.png">
			<MenuItems>
				<MenuItem pageID="SpaceSharePointSites"/>
				<MenuItem pageID="SpaceSharePointUsers"/>
			</MenuItems>
		</Icon>
    <Icon pageID="SpaceVPS" resourceGroup="VPS" imageUrl="images/vps/servers_48.png" />
    <Icon pageID="SpaceVPSForPC" resourceGroup="VPSForPC" imageUrl="images/vps/icon-home-botbar-cloud.png" />
    <Icon pageID="SpaceExchangeHostedEdition" resourceGroup="ExchangeHostedEdition" imageUrl="icons/enterprise.png"/>
		<Icon pageID="SpaceExchangeServer" resourceGroup="Hosted Organizations" imageUrl="icons/enterprise.png"/>
		<Icon pageID="SpaceWebApplicationsGallery" resourceGroup="Web" quota="Web.WebAppGallery" imageUrl="icons/dvd_disc_48.png"/>
		<Icon pageID="SpaceApplicationsInstaller" resourceGroup="OS" quota="OS.AppInstaller" imageUrl="icons/dvd_disc_48.png"/>
		<Icon pageID="SpaceScheduledTasks" resourceGroup="OS" quota="OS.ScheduledTasks" imageUrl="icons/calendar_month_2_clock_48.png"/>
		<!--MenuItem url="http://phpmysqladmin.com" title="phpMyAdmin" target="_blank"
                resourceGroup="MySQL4"/-->
	</ModuleData>

	<ModuleData id="HostedSolutionMenu">
		<MenuItem pageID="SpaceDomains"/>
		<MenuItem pageID="Userds"/>
		<MenuItem pageID="SpaceOrganizationHostedSharePoint" resourceGroup="Hosted SharePoint"/>
		<MenuItem pageID="SpaceExchanged"/>
	</ModuleData>

</ModulesData>