<?xml version="1.0"?>
<configuration>
	<system.web>
		<pages controlRenderingCompatibilityVersion="3.5">
			<controls>
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
			</controls>
		</pages>
		<compilation targetFramework="4.0">
		</compilation>
	</system.web>
</configuration>
