<?xml version="1.0"?>
<configuration>
	<!-- Custom configuration sections -->
	<configSections>
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3"/>
		<section name="websitepanel.server" type="WebsitePanel.Server.ServerConfiguration, WebsitePanel.Server"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching"/>
	</configSections>
	<appSettings>
		<add key="WebsitePanel.HyperV.UseDiskPartClearReadOnlyFlag" value="false"/>
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="Log" value="2"/>
			<!-- 0 - Off, 1 - Error, 2 - Warning, 3 - Info, 4 - Verbose -->
		</switches>
		<trace autoflush="true">
			<listeners>
				<add name="DefaultListener" type="WebsitePanel.Server.Utils.EventLogTraceListener, WebsitePanel.Server.Utils" initializeData="WebsitePanel"/>
				<!-- Writes log to the file
        <add name="DefaultListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="WebsitePanel.Server.log" />
        -->
				<remove name="Default"/>
			</listeners>
		</trace>
	</system.diagnostics>
	<!-- Caching Configuration -->
	<cachingConfiguration defaultCacheManager="Default Cache Manager">
		<backingStores>
			<add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
		</backingStores>
		<cacheManagers>
			<add name="Default Cache Manager" expirationPollFrequencyInSeconds="43200" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
		</cacheManagers>
	</cachingConfiguration>
	<!-- WebsitePanel Configuration -->
	<websitepanel.server>
		<!-- Security settings -->
		<security>
			<!-- Perform security check -->
			<enabled value="true"/>
			<!-- Server password -->
			<password value="Z6JYIY9o9rX3FCWTz0sffYdiLdg="/>
		</security>
	</websitepanel.server>
	<system.web>
		<!-- Disable any authentication -->
		<authentication mode="None"/>
		<!-- Correct HTTP runtime settings -->
		<httpRuntime executionTimeout="3600" maxRequestLength="8192"/>
		<!-- Set globalization settings -->
		<globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8"/>
		<!-- Web Services settings -->
		<webServices>
			<protocols>
				<remove name="HttpPost"/>
				<remove name="HttpPostLocalhost"/>
				<remove name="HttpGet"/>
			</protocols>
			<soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3"/>
		</webServices>
		<compilation debug="true"/></system.web>
	<!-- WSE 3.0 settings -->
	<microsoft.web.services3>
		<diagnostics>
			<trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo"/>
		</diagnostics>
		<messaging>
			<maxMessageLength value="-1"/>
			<mtom serverMode="optional" clientMode="On"/>
		</messaging>
		<security>
			<securityTokenManager>
				<add type="WebsitePanel.Server.ServerUsernameTokenManager, WebsitePanel.Server" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken"/>
			</securityTokenManager>
			<timeToleranceInSeconds value="86400"/>
		</security>
		<policy fileName="WsePolicyCache.Config"/>
	</microsoft.web.services3>
</configuration>
