<?xml version="1.0" encoding="utf-8" ?>
<ModuleDefinitions>
	<ModuleDefinition id="ecEcommerceSettings">
		<Controls>
			<Control key="" src="Ecommerce/EcommerceSystemSettings.ascx" title="ecEcommerceSettings" type="View" />
			<Control key="credit_card" src="Ecommerce/PaymentMethodCreditCard.ascx" title="ecCreditCardMethod" type="View" />
			<Control key="2co" src="Ecommerce/PaymentMethod2Checkout.ascx" title="ec2CheckoutMethod" type="View" />
			<Control key="pp_account" src="Ecommerce/PaymentMethodPayPalAccount.ascx" title="ecPPAccountMethod" type="View" />
			<Control key="offline" src="Ecommerce/PaymentMethodOffline.ascx" title="ecOfflineMethod" type="View" />
			<Control key="enom" src="Ecommerce/DomainRegistrarEnom.ascx" title="ecEnomRegistrar" type="View" />
			<Control key="directi" src="Ecommerce/DomainRegistrarDirecti.ascx" title="ecDirectiRegistrar" type="View" />
			<Control key="new_invoice" src="Ecommerce/NotificationNewInvoice.ascx" title="ecNotifyNewInvoice" type="View" />
			<Control key="payment_rcvd" src="Ecommerce/NotificationPaymentReceived.ascx" title="ecNotifyPaymentRcvd" type="View" />
			<Control key="svc_activated" src="Ecommerce/NotificationServiceActivated.ascx" title="ecNotifySvcActivated" type="View" />
			<Control key="svc_suspended" src="Ecommerce/NotificationServiceSuspended.ascx" title="ecNotifySvcSuspended" type="View" />
			<Control key="svc_cancelled" src="Ecommerce/NotificationServiceCancelled.ascx" title="ecNotifySvcCancelled" type="View" />
			<Control key="terms_conds" src="Ecommerce/TermsAndConditionsEdit.ascx" title="ecTermsAndConds" type="View" />
			<Control key="prov_settings" src="Ecommerce/ProvisioningSettingsEdit.ascx" title="ecProvSettings" type="View" />
			<Control key="welcome_msg" src="Ecommerce/StorefrontWelcomeEdit.ascx" title="ecStorefronWelcomeMsg" type="View" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecCustomersServices">
		<Controls>
			<Control key="" src="Ecommerce/CustomersServices.ascx" title="ecCustomersServices" type="View" icon="3d_level_48.png" />
			<Control key="view_svc" src="Ecommerce/CustomersServicesViewService.ascx" title="ecServiceDetails" type="View" icon="3d_info_48.png" />
			<Control key="upgrade_svc" src="Ecommerce/CustomersServicesUpgradeService.ascx" title="ecServiceUpgrade" type="View" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecCustomerPaymentProfile">
		<Controls>
			<Control key="" src="Ecommerce/CustomerPaymentProfile.ascx" title="ecCustomerPaymentProfile" type="View" icon="3d_level_48.png" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecCustomersPayments">
		<Controls>
			<Control key="" src="Ecommerce/CustomersPayments.ascx" title="ecCustomersPayments" type="View" icon="reward_48.png" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecCustomersInvoices">
		<Controls>
			<Control key="" src="Ecommerce/CustomersInvoices.ascx" title="ecCustomersInvoices" type="View" icon="invoice_48.png"/>
			<Control key="view_invoice" src="Ecommerce/CustomersInvoicesViewInvoice.ascx" title="ecInvoiceDetails" icon="invoice_info_48.png" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecStorefrontWelcome">
		<Controls>
			<Control key="" src="Ecommerce/StorefrontWelcome.ascx" title="ecStorefrontWelcome" type="View" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecQuickSignup">
		<Controls>
			<Control key="" src="Ecommerce/QuickSignup.ascx" title="ecQuickSignup" type="View" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecViewCategory">
		<Controls>
			<Control key="" src="Ecommerce/StorefrontViewCategory.ascx" title="ecViewCategory" type="View" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecProductDetails">
		<Controls>
			<Control key="" src="Ecommerce/ViewProductDetails.ascx" title="ecProductDetails" type="View" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecTaxations">
		<Controls>
			<Control key="" src="Ecommerce/Taxations.ascx" title="ecTaxations" type="View" />
			<Control key="add_tax" src="Ecommerce/TaxationsAddTax.ascx" title="ecAddTax" type="View" />
			<Control key="edit_tax" src="Ecommerce/TaxationsEditTax.ascx" title="ecEditTax" type="View" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecBillingCycles">
		<Controls>
			<Control key="" src="Ecommerce/BillingCycles.ascx" title="ecBillingCycles" type="View" />
			<Control key="add_billingcycle" src="Ecommerce/BillingCyclesAddCycle.ascx" title="ecAddBillingCycle" type="View" />
			<Control key="edit_billingcycle" src="Ecommerce/BillingCyclesEditCycle.ascx" title="ecEditBillingCycle" type="View" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecHostingPlans">
		<Controls>
			<Control key="" src="Ecommerce/HostingPlans.ascx" title="ecHostingPlans" type="View" />
			<Control key="add_hostingplan" src="Ecommerce/HostingPlansAddPlan.ascx" title="ecAddHostingPlan" type="View" />
			<Control key="edit_hostingplan" src="Ecommerce/HostingPlansEditPlan.ascx" title="ecEditHostingPlan" type="View" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecDomainNames">
		<Controls>
			<Control key="" src="Ecommerce/DomainNames.ascx" title="ecDomainNames" type="View" />
			<Control key="add_tld" src="Ecommerce/DomainNamesAddDomain.ascx" title="ecAddDomainName" type="View" />
			<Control key="edit_tld" src="Ecommerce/DomainNamesEditDomain.ascx" title="ecEditDomainName" type="View" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecHostingAddons">
		<Controls>
			<Control key="" src="Ecommerce/HostingAddons.ascx" title="ecHostingAddons" type="View" icon="webcam_48.png" />
			<Control key="add_hostingaddon" src="Ecommerce/HostingAddonsAddAddon.ascx" title="ecAddHostingAddon" type="View" icon="webcam_add_48.png" />
			<Control key="edit_hostingaddon" src="Ecommerce/HostingAddonsEditAddon.ascx" title="ecEditHostingAddon" type="View" icon="webcam_write_48.png" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecCategories">
		<Controls>
			<Control key="" src="Ecommerce/Categories.ascx" title="ecCategories" type="View" icon="inventory_48.png" />
			<Control key="AddItem" src="Ecommerce/CategoriesAddCategory.ascx" title="ecAddCategory" type="View" icon="inventory_add_48.png" />
			<Control key="EditItem" src="Ecommerce/CategoriesEditCategory.ascx" title="ecEditCategory" type="View" icon="inventory_write_48.png" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecOrderCheckout">
		<Controls>
			<Control key="" src="Ecommerce/OrderCheckout.ascx" title="ecOrderCheckout" type="View" icon="invoice_next_48.png" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecOrderComplete">
		<Controls>
			<Control key="" src="Ecommerce/OrderComplete.ascx" title="ecOrderComplete" type="View" icon="invoice_ok_48.png" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecOrderFailed">
		<Controls>
			<Control key="" src="Ecommerce/OrderFailed.ascx" title="ecOrderFailed" type="View" icon="invoice_close_48.png" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecOrderProduct">
		<Controls>
			<Control key="" src="Ecommerce/StorefrontOrderProduct.ascx" title="ecOrderProduct" type="View" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecStorefrontMenu">
		<Controls>
			<Control key="" src="Ecommerce/StorefrontMenu.ascx" title="ecStorefrontCatalogMenu" type="View" />
		</Controls>
	</ModuleDefinition>
	<ModuleDefinition id="ecTermsAndConditions">
		<Controls>
			<Control key="" src="Ecommerce/TermsAndConditions.ascx" title="ecTermsAndConditions" type="View" />
		</Controls>
	</ModuleDefinition>
</ModuleDefinitions>
