<?xml version="1.0" encoding="utf-8" ?>
<eventHandlers>
	<reference src="SystemEventHandlers.config" />
	<!--task source="WEB" name="CREATE_SITE">
		<handler type="WebsitePanel.EnterpriseServer.TestTaskHandler, WebsitePanel.EnterpriseServer" />
		<handler type="WebsitePanel.EnterpriseServer.TestTaskHandler2, WebsitePanel.EnterpriseServer" />
	</task-->
	<!--task source="WEB_SITE" name="ADD">
		<handler type="WebsitePanel.EnterpriseServer.Extensions.CreateWebSiteHandler, WebsitePanel.EnterpriseServer.Extensions" />
	</task-->
</eventHandlers>